<%= form_with url: "/users", method: :post do |form| %>
  <div>
    <%= form.label :user, "Username:" %>
    <%= form.text_field :user, placeholder: "Username goes here"%>
  </div>
  <div>
    <%= form.label :user, "Email:" %>
    <%= form.email_field :user, placeholder: "example@example.com" %>
  </div>
  <div>
    <%= form.label :user, "Password:" %>
    <%= form.password_field :user %>
  </div>
    <%= form.submit "Create User" %>
<% end %>
